<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Einvoice & Ewaybill</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" *ngIf="isAuthenticated">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i class="bi bi-briefcase-fill"></i> Generate</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/einv"><i class="bi-receipt"></i> Einvoice & E-waybill</a></li>
                        <li><a class="dropdown-item" routerLink="/ewb"><i class="bi-truck"></i> E-waybill</a></li>
                        <li><a class="dropdown-item" routerLink="/b2c"><i class="bi-upc-scan"></i> B2C QR Code</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i class="bi bi-view-stacked"></i> View</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/vieweinv"><i class="bi-receipt"></i> View Einvoice & E-waybill</a></li>
                        <li><a class="dropdown-item" routerLink="/viewewb"><i class="bi-truck"></i> View E-waybill</a></li>
                        <li><a class="dropdown-item" routerLink="/viewb2c"><i class="bi-upc-scan"></i> View B2C QR Code</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="isAuthenticated">   
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i class="bi bi-person-circle"></i> {{ userEmail }}</a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/" class="dropdown-item"><i class="bi bi-gear"></i> Settings</a></li>
                        <li><a id="logout" class="dropdown-item" (click)="onLogout()"><i class="bi bi-box-arrow-in-right"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
