<div class="container-fluid">
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <div class="row">
            <div class="col-sm-3 p-3">
                <a routerLink="/" class="lang-logo">
                    <img class="rounded-circle" src="assets/img/Einvoice.jpg" width="200" height="200">
                </a>
            </div>
            <div class="col-sm-9 p-3">
                <h2>Generate E-Invoices and EWB</h2>
                <p>Upload your sales documents in Json, Csv, Xsl & Xml format to generate IRN and QR code</p>
                <form [formGroup]="einvUplForm" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-3 mt-3">
                        <label for="gstin">Seller Gstin:</label>
                        <select id="gstin" class="form-control" formControlName="gstin" (change)="onGstin($event)">
                            <option *ngFor="let gstin of sellerGstin" [value]="gstin">{{gstin}}</option>
                        </select>
                        <span class="help-block" *ngIf="!einvUplForm.get('gstin').valid && einvUplForm.get('gstin').touched">Please select the Status</span>
                    </div>
                    <div class="form-group mb-3 mt-3 form-inline">
                        <label for="fileToUpload">Select the File:</label>
                        <input type="file" name="fileToUpload" id="fileToUpload" accept="application/json" formControlName="fileToUpload" class="form-control" (change)="onChange($event)">
                        <span *ngIf="!einvUplForm.get('fileToUpload').valid && einvUplForm.get('fileToUpload').touched" class="help-block">Please Select the file!</span>  
                    </div>
                        <button type="submit" class="btn btn-info me-5" id="save" name="save" *ngIf="invData"><i class="bi bi-save"></i> Save</button>
                        <button type="button" class="btn btn-success" id="genirn" name="genirn" *ngIf="fireBase" (click)="genIrn()"><i class="bi-briefcase"></i> Generate IRN</button>  
                        <button type="button" class="btn btn-secondary" id="reset" name="reset" (click)="resetFrom()" style="float: right;"><i class="bi-arrow-counterclockwise"></i> Reset</button>
                </form>
            </div>
        </div>
    </div>
    <h3 style="color: red;"> 
        {{ gstin_error }}
    </h3>
    <div class="content" *ngIf="irnStatus">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header" >
                    <h4 class="m-0">IRN Status</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover table-responsive" *ngIf="irnStatus[0].document_status === 'IRN_GENERATED'">
                        <thead>
                        <tr class="table-primary">
                            <th>IRN Status</th>
                            <th>IRN Number</th>
                            <th>Acknowledgement Number</th>
                            <th>Acknowledgement Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-primary" data-widget="expandable-table" aria-expanded="false">
                            <td>{{ irnStatus[0].document_status }}</td>
                            <td>{{ irnStatus[0].govt_response.Irn }}</td>
                            <td>{{ irnStatus[0].govt_response.AckNo }}</td>
                            <td>{{ irnStatus[0].govt_response.AckDt }}</td>
                        </tr>
                        <tr class="expandable-body">
                            <td colspan="4">
                            <p>
                                <strong style="color: green;">IRN and QR Code generated for document number: {{ irnStatus[0].transaction.DocDtls.No }}.</strong>
                            </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover table-responsive" *ngIf="irnStatus[0].document_status === 'IRN_GENERATION_FAILED' || irnStatus[0].document_status === 'NOT_CREATED'">
                        <thead>
                        <tr class="table-primary">
                            <th>IRN Status</th>
                            <th>Error Code</th>
                            <th>Error Source</th>
                            <th>Invoice Number</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-primary" data-widget="expandable-table" aria-expanded="false" *ngFor="let i of irnStatus[0].govt_response.ErrorDetails">
                            <td>{{ irnStatus[0].document_status }}</td>
                            <td>{{ i.error_code }}</td>
                            <td>{{ i.error_source }}</td>
                            <td>{{ irnStatus[0].transaction.DocDtls.No }}</td>
                        </tr>
                        <tr class="expandable-body" *ngFor="let i of irnStatus[0].govt_response.ErrorDetails">
                            <td colspan="4">
                            <p>
                                <strong style="color: red;">IRN and QR Code generation failed.</strong>
                                Error Message: {{ i.error_message }}
                            </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-info me-5" (click)="downloadJson()"><i class="bi bi-download"></i> Download JSON</button>
                    <button type="button" class="btn btn-success me-5" (click)="onirnPrint()"><i class="bi bi-printer"></i> Print</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content" *ngIf="invData">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header" >
                    <h5 class="m-0" >Invoice Details</h5>
                </div>
                <div class="card-body">
                    <mdb-tabs [pills]="true" [vertical]="true">
                        <mdb-tab title="Basic Details">
                            <table class='table table-hover table-bordered table-responsive'>
                                <thead class='thead-light'>
                                    <tr class="table-primary">
                                    <th scope='col'>Supply Type</th>
                                    <th scope='col'>Document Type</th>
                                    <th scope='col'>Invoice Number</th>
                                    <th scope='col'>Invoice Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td> {{ invData[0].transaction.TranDtls.SupTyp }} </td>
                                    <td> {{ invData[0].transaction.DocDtls.Typ }} </td>
                                    <td> {{ invData[0].transaction.DocDtls.No }} </td>
                                    <td> {{ invData[0].transaction.DocDtls.Dt }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </mdb-tab>
                        <mdb-tab title="Seller Details">
                            <table class='table table-hover table-bordered table-responsive'>
                                <thead class='thead-light'>
                                    <tr class="table-primary">
                                        <th scope='col'>SELLER GSTIN</th>
                                        <th scope='col'>LEGAL NAME</th>
                                        <th scope='col'>ADDRESS</th>
                                        <th scope='col'>LOCATION</th>
                                        <th scope='col'>PINCODE</th>
                                        <th scope='col'>STATE CODE</th>
                                        <th scope='col'>PHONE</th>
                                        <th scope='col'>EMAIL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> {{ invData[0].transaction.SellerDtls.Gstin }} </td>
                                        <td> {{ invData[0].transaction.SellerDtls.LglNm }} </td>
                                        <td> {{ invData[0].transaction.SellerDtls.Addr1 }} </td>
                                        <td> {{ invData[0].transaction.SellerDtls.Loc }} </td>
                                        <td> {{ invData[0].transaction.SellerDtls.Pin }} </td>
                                        <td> {{ invData[0].transaction.SellerDtls.Stcd }} </td>
                                        <td> {{ invData[0].transaction.SellerDtls.Ph }} </td>
                                        <td> {{ invData[0].transaction.SellerDtls.Em }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </mdb-tab>
                        <mdb-tab title="Buyer Details">
                            <table class='table table-hover table-bordered table-responsive'>
                                <thead class='thead-light'>
                                    <tr class="table-primary">
                                        <th scope='col'>BUYER GSTIN</th>
                                        <th scope='col'>LEGAL NAME</th>
                                        <th scope='col'>PLACE OF SUPPLY</th>
                                        <th scope='col'>LOCATION</th>
                                        <th scope='col'>PINCODE</th>
                                        <th scope='col'>STATE CODE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> {{ invData[0].transaction.BuyerDtls.Gstin }} </td>
                                        <td> {{ invData[0].transaction.BuyerDtls.LglNm }} </td>
                                        <td> {{ invData[0].transaction.BuyerDtls.Pos }} </td>
                                        <td> {{ invData[0].transaction.BuyerDtls.Loc }} </td>
                                        <td> {{ invData[0].transaction.BuyerDtls.Pin }} </td>
                                        <td> {{ invData[0].transaction.BuyerDtls.Stcd }} </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class='table table-hover table-bordered table-responsive'>
                                <thead class='thead-light'>
                                    <tr class="table-primary">
                                        <th scope='col'>ADDRESS</th>
                                        <th scope='col'>PHONE</th>
                                        <th scope='col'>EMAIL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> {{ invData[0].transaction.BuyerDtls.Addr1 }} </td>
                                        <td> {{ invData[0].transaction.BuyerDtls.Ph }} </td>
                                        <td> {{ invData[0].transaction.BuyerDtls.Em }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </mdb-tab>
                        <mdb-tab title="Dispatch Details" *ngIf="invData[0].transaction.DispDtls">
                            <table class='table table-hover table-bordered table-responsive'>
                                <thead class='thead-light'>
                                <tr class="table-primary">
                                <th scope='col'>COMPANY NAME</th>
                                <th scope='col'>ADDRESS</th>
                                <th scope='col'>LOCATION</th>
                                <th scope='col'>PINCODE</th>
                                <th scope='col'>STATE CODE</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td> {{ invData[0].transaction.DispDtls.Nm }} </td>
                                    <td> {{ invData[0].transaction.DispDtls.Addr1 }} </td>
                                    <td> {{ invData[0].transaction.DispDtls.Loc }} </td>
                                    <td> {{ invData[0].transaction.DispDtls.Pin }} </td>
                                    <td> {{ invData[0].transaction.DispDtls.Stcd }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </mdb-tab>
                        <mdb-tab title="Shipping Details" *ngIf="invData[0].transaction.ShipDtls">
                            <table class='table table-hover table-bordered table-responsive'>
                                <thead class='thead-light'>
                                <tr class="table-primary">
                                <th scope='col'>SHIP TO GST</th>
                                <th scope='col'>COMPANY NAME</th>
                                <th scope='col'>ADDRESS</th>
                                <th scope='col'>LOCATION</th>
                                <th scope='col'>PINCODE</th>
                                <th scope='col'>STATE CODE</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td> {{ invData[0].transaction.ShipDtls.Gstin }} </td>
                                    <td> {{ invData[0].transaction.ShipDtls.LglNm }} </td>
                                    <td> {{ invData[0].transaction.ShipDtls.Addr1 }} </td>
                                    <td> {{ invData[0].transaction.ShipDtls.Loc }} </td>
                                    <td> {{ invData[0].transaction.ShipDtls.Pin }} </td>
                                    <td> {{ invData[0].transaction.ShipDtls.Stcd }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </mdb-tab>
                        <mdb-tab title="Item Details">
                            <table class='table table-hover table-head-fixed table-bordered table-responsive' style="display: block; overflow-x: auto; overflow-y: auto; white-space: nowrap; height: 450px;">
                                <thead class='thead-light'>
                                <tr class="table-primary">
                                <th scope='col'>S.No</th>
                                <th scope='col'>ITEM DESCRIPTION</th>
                                <th scope='col'>HSN CODE</th>
                                <th scope='col'>QUANTITY</th>
                                <th scope='col'>UNIT</th>
                                <th scope='col'>UNIT PRICE</th>
                                <th scope='col'>GROSS AMOUNT</th>
                                <th scope='col'>DISCOUNT</th>
                                <th scope='col'>PRE TAX VALUE</th>
                                <th scope='col'>ITEM TAXABLE VALUE</th>
                                <th scope='col'>GST RATE</th>
                                <th scope='col'>IGST AMOUNT</th>
                                <th scope='col'>CGST AMOUNT</th>
                                <th scope='col'>SGST AMOUNT</th>
                                <th scope='col'>OTHER CHARGES</th>
                                <th scope='col'>TOTAL ITEM VALUE</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let i of invData[0].transaction.ItemList">
                                <td> {{ i.SlNo }} </td>
                                <td> {{ i.PrdDesc }} </td>
                                <td> {{ i.HsnCd }} </td>
                                <td> {{ i.Qty }} </td>
                                <td> {{ i.Unit }} </td>
                                <td> {{ i.UnitPrice }} </td>
                                <td> {{ i.TotAmt }} </td>
                                <td> {{ i.Discount }} </td>
                                <td> {{ i.PreTaxVal }} </td>
                                <td> {{ i.AssAmt }} </td>
                                <td> {{ i.GstRt }} </td>
                                <td> {{ i.IgstAmt }} </td>
                                <td> {{ i.CgstAmt }} </td>
                                <td> {{ i.SgstAmt }} </td>
                                <td> {{ i.OthChrg }} </td>
                                <td> {{ i.TotItemVal }} </td>
                                </tr>
                                </tbody>
                            </table>
                        </mdb-tab>
                        <mdb-tab title="Document Total Details">
                            <table class='table table-hover table-bordered table-responsive'>
                                <thead class='thead-light'>
                                <tr class="table-primary">
                                <th scope='col'>Total Taxable Value</th>
                                <th scope='col'>IGST  Amount Total</th>
                                <th scope='col'>CGST  Amount Total</th>
                                <th scope='col'>SGST/UTGST Amount Total</th>
                                <th scope='col'>Other Charge(Invoice Level)</th>
                                <th scope='col'>Round Off Amount</th>
                                <th scope='col'>Total Invoice Value in INR</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                <td> {{ invData[0].transaction.ValDtls.AssVal }} </td>
                                <td> {{ invData[0].transaction.ValDtls.IgstVal }} </td>
                                <td> {{ invData[0].transaction.ValDtls.CgstVal }} </td>
                                <td> {{ invData[0].transaction.ValDtls.SgstVal }} </td>
                                <td> {{ invData[0].transaction.ValDtls.OthChrg }} </td>
                                <td> {{ invData[0].transaction.ValDtls.RndOffAmt }} </td>
                                <td> {{ invData[0].transaction.ValDtls.TotInvVal }} </td>  
                                </tr>
                                </tbody>
                            </table>
                        </mdb-tab>
                        <mdb-tab title="Export Details" *ngIf="invData[0].transaction.ExpDtls">
                            <table class='table table-hover table-bordered table-responsive'>
                                <thead class='thead-light'>
                                <tr class="table-primary">
                                <th scope='col'>SHIPPING PORT CODE</th>
                                <th scope='col'>REFERNCE CLAIM</th>
                                <th scope='col'>SHIPPING BILL DATE</th>
                                <th scope='col'>SHIPPING BILL NUMBER</th>
                                <th scope='col'>EXPORT TO COUNTRY CODE</th>
                                <th scope='col'>CURRENCY CODE</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td> {{ invData[0].transaction.ExpDtls.Port }} </td>
                                    <td> {{ invData[0].transaction.ExpDtls.RefClm }} </td>
                                    <td> {{ invData[0].transaction.ExpDtls.ShipBDt }} </td>
                                    <td> {{ invData[0].transaction.ExpDtls.ShipBNo }} </td>
                                    <td> {{ invData[0].transaction.ExpDtls.CntCode }} </td>
                                    <td> {{ invData[0].transaction.ExpDtls.ForCur }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </mdb-tab>
                        <mdb-tab title="E-waybill Details" *ngIf="invData[0].transaction.EwbDtls">
                            <table class='table table-hover table-bordered table-responsive'>
                                <thead class='thead-light'>
                                <tr class="table-primary">
                                <th scope='col'>Transporter ID</th>
                                <th scope='col'>Trans Mode</th>
                                <th scope='col'>Trans Distance</th>
                                <th scope='col'>Transporter Name</th>
                                <th scope='col'>Trans Doc No.</th>
                                <th scope='col'>Trans Doc Date</th>
                                <th scope='col'>Vehicle No.</th>
                                <th scope='col'>Vehicle Type</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td> {{ invData[0].transaction.EwbDtls.TransId }} </td>
                                    <td> {{ invData[0].transaction.EwbDtls.TransMode }} </td>
                                    <td> {{ invData[0].transaction.EwbDtls.Distance }} </td>
                                    <td> {{ invData[0].transaction.EwbDtls.TransName }} </td>
                                    <td> {{ invData[0].transaction.EwbDtls.TransDocNo }} </td>
                                    <td> {{ invData[0].transaction.EwbDtls.TransDocDt }} </td>
                                    <td> {{ invData[0].transaction.EwbDtls.VehNo }} </td>
                                    <td> {{ invData[0].transaction.EwbDtls.VehType }} </td>  
                                    </tr>
                                </tbody>
                            </table>
                        </mdb-tab>
                        <mdb-tab title="Aditional document Details" *ngIf="invData[0].transaction.AddlDocDtls">
                            <table class='table table-hover table-bordered table-responsive'>
                                <thead class='thead-light'>
                                <tr class="table-primary">
                                <th scope='col'>Additional Supporting documents</th>
                                <th scope='col'>Additional Information</th>
                                <th scope='col'>Additional Supporting documents URL</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let i of invData[0].transaction.AddlDocDtls">
                                    <td> {{ i.Docs }} </td>
                                    <td> {{ i.Info }} </td>
                                    <td> {{ i.Url }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </mdb-tab>
                    </mdb-tabs>
                </div>
            </div>
        </div>
    </div>
</div>
